* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 175%;
}

main {
  min-height: 100vh;
  background-color: #dfd8e4;
  display: flex;
  align-items: center;
  justify-content: center;
}

a,span{
    text-decoration: none;
    color: #10b2e4;
    font-weight: 600;
}

.cards {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
    flex:1;
    margin:2rem;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
}

.card-body{
    padding: 1rem 2rem;
}

.image-placeholder{
    width:100%;
    height:250px;
    background-color: #10b2e4;
}

.expand-more-content{
    max-height: 0;
    overflow: hidden;
    transition: max-height .75s linear;
    position: relative;
}

.expand-more-content.expand-active{
    max-height: 50vh;
    transition: max-height .75s linear;
    position: relative;
}

.expand-more-holder{
    text-align: right;
}

.btn-expand-more{
    text-align: right;
    cursor: pointer;
}