* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  min-height: 80vh;
  width: 60%;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(2rem); /*not working for firefox*/
  border-radius: 2rem;
  z-index: 5;
  display: flex;
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  position: absolute;
}

.circle1 {
  top: 5%;
  right: 15%;
  z-index: 2;
}

.circle2 {
  bottom: 5%;
  left: 10%;
  z-index: 2;
}

.dashboard {
  flex: 1;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

.games {
  flex: 2;
  margin: 5rem;
}
