* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 175%;
  scroll-behavior: smooth;
}

body {
  min-height: 50vh;
  background: rgba(0, 0, 0, 0.925);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 25%;
  background-color: white;
  transition: all 1s ease-out;
  height: auto;
  padding: 1.75rem 2rem;
  flex: 1;
}

.container.collapsed {
  flex: 0;
  padding: 0;
}

.section {
  overflow: hidden;
  transition: all 1s ease-out;
  height: auto;
  flex: 1;
}

.section.collapsed {
  overflow: hidden;
  flex: 0;
  padding: 0px;
  transition: all 1s ease-out;
}

.section p {
  display: block;
  overflow: hidden;
  height: auto;
  transition: all 1s ease-out;
}

.section.collapsed p {
  display: none;
  height: 0;
  overflow: hidden;
}

button {
  margin-top: 15%;
  border: none;
  outline: none;
  padding: 1.5rem;
  width: 25%;
  background: #ff0266;
  cursor: pointer;
  font-size: 20pt;
  transition: box-shadow 0.2s ease-out;
}
button:hover {
  box-shadow: 0px 0px 15px lightgrey;
}
button:active {
  box-shadow: 0px 0px 10px lightgrey;
}
button:focus {
  outline: none;
}
